body{
	margin: 0;
	padding: 0;
}
#container {
	width:200px;
	position: relative;
}
#num1 {
		background: #437878;
		width: 200px;
		height: 50px;
}
#num2 {
		background: #43FF00;
		width: 175px;
		display:block;
		height: 200px;
		margin: 5px auto;
}
#num3 {
		background: #D400A7;
		width: 80px;
		height: 50px;
		float:left;
		margin-left:12px;
		}

#num4 {
		background: #0043FF;
		width: 80px;
		height:50px;
		float:right;
		margin-right:12px;

}

